torch==2.2.2
torchvision==0.17.2
opencv-python==4.10.0.84
diffusers>=0.31.0
transformers==4.49.0
tokenizers==0.21.0 # Compatible with transformers 4.49.0 (requires >=0.21, <0.22)
accelerate>=0.30.0 # Updated to a more recent version
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
# flash_attn
numpy>=1.23.5,<2
xfuser
